body{
    background-color: #F8E0EC;
}
.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.carousel{
    width: 650px;
    margin-top: 5px;
    border-radius: 10px;
    box-shadow: 2px 4px 2px #BDBCBC;
}
.carousel-inner{
    border-radius: 10px;
}
.carousel img{
    border-radius: 10px;
}